#bradPitt {
  display: none;
}

#georgeClooney {
  display: none;
}

#arianaGrande {
  display: none;
}

#justinBeiber {
  display: none;
}

#angelinaJolie {
  display: none;
}

#susanSarandon {
  display: none;
}

img{
  width: 300px;
  height: 300px;
}
